@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,400&family=Montserrat:wght@100..900&family=Nunito:wght@200..1000&family=Open+Sans:wght@300..800&family=Roboto:wght@500;700&family=Source+Code+Pro&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-background: 235, 239, 244;
        --color-primary: 232, 119, 35;
        --color-primary-light: 240, 175, 0;
        --color-secondary: 37, 16, 57;
        --color-secondary-light: 108, 49, 162;
        --color-secondary-lighter: 167, 87, 243;
        --color-error: 255, 105, 105;
        --color-white: 255, 255, 255;
        --color-black: 0, 0, 0;
        --color-gray-50: 250, 250, 250;
        --color-gray-100: 245, 245, 245;
        --color-gray-200: 229, 229, 229;
        --color-gray-300: 212, 212, 212;
        --color-gray-400: 156, 156, 156;
        --color-gray-500: 137, 137, 137;
        --color-gray-700: 58, 63, 81;
        --color-gray-600: 18, 22, 60;
        --color-gray-800: 42, 42, 60;
        --color-gray-900: 25, 25, 41;
        --color-card: 255, 255, 255;
        --color-shadow-soft: 0, 0, 0, 0.05;
        --color-shadow-softer: 61, 6, 75, 0.10;
        --color-chart-bg: rgba(0, 133, 255, 0.2);
    }

    .dark {
        --color-background: 23, 23, 23;
        --color-primary-light: 240, 175, 0;
        --color-secondary: 59, 38, 77;
        --color-secondary-light: 108, 49, 162;
        --color-secondary-lighter: 167, 87, 243;
        --color-error: 255, 105, 105;
        --color-white: 7, 7, 7;
        --color-black: 255, 255, 255;
        --color-gray-50: 20, 20, 20;
        --color-gray-100: 23, 23, 23;
        --color-gray-200: 38, 38, 38;
        --color-gray-300: 38, 38, 38;
        --color-gray-400: 38, 38, 38;
        --color-gray-500: 163, 163, 163;
        --color-gray-600: 163, 163, 163;
        --color-gray-700: 156, 163, 175;
        --color-gray-800: 229, 229, 229;
        --color-gray-900: 243, 244, 246;
        --color-card: 15, 15, 15;
        --color-shadow-soft: 0, 0, 0, 0.1;
        --color-shadow-softer: 61, 64, 64, 0.10;
        --color-chart-bg: rgba(59, 38, 77, 0.5);
    }

    .custom-scrollbar {
        @apply scrollbar scrollbar-track-black/20 scrollbar-thumb-primary/50 scrollbar-thumb-rounded-full
        hover:scrollbar-thumb-primary/80 hover:scrollbar-track-black/30 scrollbar-w-1.5
    }

    .custom-scrollbar-neutral {
        @apply scrollbar scrollbar-track-gray-100 scrollbar-thumb-black/20 scrollbar-thumb-rounded-full
        hover:scrollbar-thumb-black/60 hover:scrollbar-track-black/30 scrollbar-w-1.5
    }

    .custom-scrollbar-tiny {
        @apply scrollbar scrollbar-track-transparent scrollbar-thumb-black/10 scrollbar-thumb-rounded-full
        hover:scrollbar-thumb-black/20 scrollbar-w-[0px]
    }

    [type='text'],
    input:where(:not([type])),
    [type='email'],
    [type='url'],
    [type='password'],
    [type='number'],
    [type='date'],
    [type='datetime-local'],
    [type='month'],
    [type='search'],
    [type='tel'],
    [type='time'],
    [type='week'],
    [multiple],
    textarea,
    select,
    .input
    {
        @apply focus:outline-none focus:ring-primary focus:border-primary p-3.5
        border-[#EAEAEA] border rounded-lg bg-white shadow-soft font-nunito placeholder-[#ADA7A7]
    }

    [type='checkbox'] {
        @apply border-primary/65 checked:border-white checked:bg-primary checked:text-primary-light
        focus:outline-none focus:ring-primary
    }

    [type='button'],
    [type='submit'],
    a,
    button {
        @apply focus:outline-none rounded-lg font-nunito font-bold
        focus-visible:ring focus-visible:ring-primary focus-visible:ring-opacity-45
    }

    a {
        @apply font-nunito font-bold;
    }

    h1 {
        @apply font-montserrat;
    }

    h2, h3 {
        @apply font-roboto;
    }
}

body {
    @apply text-black font-open-sans;
}